##**Task 1 – Separate Even and Odd Numbers**

**Function name:** separate_even_odd(numbers)

**Accepts:**
A list that contains only numbers.
Separates the numbers into two groups:

even numbers

odd numbers

In [8]:
func_list= [1,2,3,4,5,6,7,8,9,10]

def my_func(my_list):
  for value in my_list:
    if value % 2==0:
      print(f"{value} is even number")
    elif value % 2==1:
      print(f"{value} is odd number")

my_func(func_list)

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [9]:
def my_func(my_list):
  even=[]
  odd=[]
  for value in my_list:
    if value % 2==0:
      even.append(value)
    else:
      odd.append(value)
  return f'even numbers: {even}, odd numbers: {odd}'

func_list= [1,2,3,4,5,6,7,8,9,10]
my_func(func_list)

'even numbers: [2, 4, 6, 8, 10], odd numbers: [1, 3, 5, 7, 9]'

##Task 2 – Star Pyramid
Function name: print_triangle(n)

Accepts: An integer (int), for example n = 4.

In [10]:
def print_triangle(n):
  for i in range(1,n+1):
   print("*" * i)


print_triangle(4)

*
**
***
****

##Task 3 – Reversed Words in Alphabetical Order

Function name: reverse_and_sort(words)

Takes:
A list of words, e.g. ["banana", "apple", "cherry"].

Does:
Reverses each word in the list, then sorts the reversed words in alphabetical order.

Returns:
A new list containing the reversed and alphabetically sorted words.

In [11]:
fruits=["banana", "apple", "cherry"]


def reverse_and_sort(words):
  new_list=[]
  for abc in words:
    abc=abc[::-1]
    new_list.append(abc)
  new_list.sort()
  return new_list


reverse_and_sort(fruits)

['ananab', 'elppa', 'yrrehc']

In [12]:
# With List Comprehension method
fruits=["banana", "apple", "cherry"]

def reverse_and_sort(words):
    return sorted([w[::-1] for w in words])

reverse_and_sort(fruits)

['ananab', 'elppa', 'yrrehc']

##Task 4 – Find the Long Names

Function name: long_names(names)

Accepts:
A list of names, for example ["Mark", "Zahra", "Jonathan", "Eva", "Peter", "Mary", "Cecilia"]

Performs:
Selects the names that are equal to or longer than 5 characters.

Returns:
A new list containing those names.

In [13]:
names=["Mark", "Zahra", "Jonathan", "Eva", "Peter", "Mary", "Cecilia"]

def long_names(names):
  new_names=[]
  for n in names:
    if len(n)>=5:
      new_names.append(n)
  return new_names


long_names(names)

['Zahra', 'Jonathan', 'Peter', 'Cecilia']

In [14]:
# With List Comprehension method
names=["Mark", "Zahra", "Jonathan", "Eva", "Peter", "Mary", "Cecilia"]


def long_names(names):
  return [n for n in names if len(n)>=5]


long_names(names)

['Zahra', 'Jonathan', 'Peter', 'Cecilia']

##Task 5: List of Squares

Function name: squares(numbers)

Takes:
A list containing numbers, e.g. [1, 2, 3, 4, 5].

Does:
Uses map() and a lambda function to calculate the square of each number in the list.

Returns:
A new list containing the squared values of all numbers.

In [15]:
my_list=[1, 2, 3, 4, 5]

def squares(lists):
 return list(map(lambda x:x**2, lists))

squares(my_list)

[1, 4, 9, 16, 25]

##Task 6: Combine Two Lists

Goal:

Take two separate lists (for example, names and ages) and combine them.
In the resulting list, each name should be paired with its corresponding age.

In [16]:
name=["Anne", "Sara", "Michael", "Kevin"]
age=[20, 31, 28, 25]

new_list=list(zip(name, age))
new_list

[('Anne', 20), ('Sara', 31), ('Michael', 28), ('Kevin', 25)]

##Task 7 – Convert to Uppercase

Function name: to_uppercase(words)

Accepts:
A list of words.

Does:
Uses map() and a lambda function to convert each word in the list to uppercase.

In [17]:
words=["car", "ball", "sky", "music", "car"]

def to_upper(text):
  return list(map(lambda x: x.upper(), text))

to_upper(words)

['CAR', 'BALL', 'SKY', 'MUSIC', 'CAR']

##Task 8 – Select Only Positive Numbers

Function name: positive_numbers(lst)

Accepts: A list containing numbers.

Does: Filters the list to include only positive numbers.

Returns: A new list that contains only the positive values.

In [18]:
my_list=[3, 5, -2, 4,-7, 8]

def positive_numbers(lst):
  new_list=[]
  for i in lst:
    if i>0:
      new_list.append(i)
  return new_list

positive_numbers(my_list)

[3, 5, 4, 8]

##Task 9 – Find Unique Elements

Function name: unique_elements(lst)

Accepts: A list (e.g., of numbers or strings).

Does: Finds and returns only the unique (non-repeated) elements in the list.

Returns: A new list containing the unique elements.

In [19]:
colors=["green", "red", "orange", "green", "red", "blue"]

def unique_elements(lst):
  new_list=[]
  for t in lst:
    if t not in new_list:
      new_list.append(t)
  return new_list

unique_elements(colors)

['green', 'red', 'orange', 'blue']

In [20]:
#With set
colors=["green", "red", "orange", "green", "red", "blue"]

def unique_elements(lst):
  return list(set(lst))


unique_elements(colors)

['red', 'orange', 'green', 'blue']

##Task 10 – Combine Keys and Values into Dict

Function name: make_dict(keys, values)

Accepts: Two lists: one for keys, one for values.

Does: Combines them into a dictionary using zip().

Returns: The resulting dictionary.

In [21]:
keys=["name", "age", "city"]
values=["John", 30, "New York"]

def make_dict(key,value):
  return dict(zip(key,value))

make_dict(keys,values)
#

{'name': 'John', 'age': 30, 'city': 'New York'}

In [25]:
#With Lambda
keys=["name", "age", "city"]
values=["Sara", 26, "Paris"]

make_dict1 = lambda key, value: dict(zip(key,value))
make_dict1(keys,values)

{'name': 'Sara', 'age': 26, 'city': 'Paris'}

In [26]:
#With List Comprehension
keys=["name", "age", "city"]
values=["Lily", 29, "Stockholm"]

def make_dict2(key,value):
  return {key:value for key, value in zip(key,value)}


make_dict(keys,values)

{'name': 'Lily', 'age': 29, 'city': 'Stockholm'}